.base-flex{
    margin: -40px -30px 30px;
    position: relative;
    padding: 0;
    display: block;   
}
.ver-mas-node a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}
#footer-wrap{
  padding-bottom: 0px;
  padding-top: 10px;
}
#block-block-1{
    margin-bottom: 0;
}
#block-block-1 .footer-info{

}