.base-flex{
    margin: -40px -30px 30px;
    position: relative;
    padding: 0;
    display: block;   
}
.ver-mas-node a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}
/*FOOTER*/
#footer-wrap{
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
#block-block-1{
    margin-bottom: 0 !important;    
}
#block-block-1 .footer-info{
    margin: 0 auto !important;    
    max-width: 600px !important;    
    text-align: center !important;
}
#block-block-1 .footer-info div{
    float: left !important;
    margin-right: 5px !important;
}
/*Patrocinadores*/
#logo{
    float: left !important;
}
.patrocinadores-zona{
  top: 50%;
  margin-top: -20px;
  height: 40px;
}
.patrocinadores-base div{
    float: left;
}